<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

    <link rel="stylesheet" href="style.css">
    
</head>
<body>
   
<div class="content">
    <div class="box">
        WELCOME USERNAME <br></div>
        
    </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="style.css">


        
        <div class="leaderboard">
            <h2>Leaderboard</h2>
            <ul>
                <li>
                    <img src="profile1.jpg" alt="Profile Icon" class="profile-icon">
                    <span class="name">1st. TOP CHAMPION</span>
                </li>
                <li>
                    <img src="profile2.jpg" alt="Profile Icon" class="profile-icon">
                    <span class="name">2nd. MASTER OF SILVER</span>
                </li>
                <li>
                <img src="profile3.jpg" alt="Profile Icon" class="profile-icon">
                    <span class="name">3rd. BRONZE GURU</span>

                </li>
                <li>
                <img src="profile4.jpg" alt="Profile Icon" class="profile-icon">
                    <span class="name">Elite Contender</span>
                    
                </li>
                <li>
                    <img src="profile5.jpg" alt="Profile Icon" class="profile-icon">
                        <span class="name">Elite Contender</span>
                        
                    </li>
                    <li>
                        <img src="profile6.jpg" alt="Profile Icon" class="profile-icon">
                            <span class="name">Elite Contender</span>
                            
                        </li>
                        <li>
                            <img src="profile7.jpg" alt="Profile Icon" class="profile-icon">
                                <span class="name">Elite Contender</span>
                                
                            </li>
                            
                    

                    
                </li>
            </ul>
        </div>
    </div>
    <div class="streaksbox">
        <h3>Streaks Maintained</h3>
        <p>Number of Days: <span id="streak-count">50</span></p>
    </div>
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search...">
        <button id="search-button">Search</button>
    </div>
    <div id="search-results"></div>
    <div class="settings-container">
        <button id="settings-button
        "
    </div>

    <script src="script.js"></script>
</div>

</body>
</html>